/* Header and general settings */

img {
    width: 100%;
}   

/* Navbar */
.navbar-wrapper {
    position: sticky;
    top: 0;
    background-color: black;
    height: 60px;
    z-index: 99;
}

.update_text {
    text-emphasis-color: gray;
}
.mobile-navbar {
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    display: none;
}
.mobile-navbar img {
    /* Hack to adapt img, if it's another image, change parameters */
    filter: brightness(10);
    top: -20px;
    height: 145%;
    left: -19px;
    /* end hack */
    position: absolute;
    width: auto;
    z-index: 2;
}
.mobile-navbar span {
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    display: block;
    height: 3px;
    width: 25px;
    background: white;
    margin: 5px auto;
}
.mobile-navbar.open span {
    background-color: red;;
}
.mobile-navbar.open span:nth-of-type(1) {
    -webkit-transform: translateY(7.5px) rotateZ(45deg);
    -moz-transform: translateY(7.5px) rotateZ(45deg);
    -ms-transform: translateY(7.5px) rotateZ(45deg);
    -o-transform: translateY(7.5px) rotateZ(45deg);
    transform: translateY(7.5px) rotateZ(45deg);
}
.mobile-navbar span:nth-of-type(2) {
    margin: 0 auto;
}
.mobile-navbar.open span:nth-of-type(2) {
    width: 0;
}
.mobile-navbar.open span:nth-of-type(3) {
    -webkit-transform: translateY(-8.5px) rotateZ(-45deg);
    -moz-transform: translateY(-8.5px) rotateZ(-45deg);
    -ms-transform: translateY(-8.5px) rotateZ(-45deg);
    -o-transform: translateY(-8.5px) rotateZ(-45deg);
    transform: translateY(-8.5px) rotateZ(-45deg);
}
#navbar {
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: black;
    align-items: center;
}
.navbar_link {
    text-decoration: none;
    font-size: 28px;
    color: white;
}
.navbar_link:hover {
    color: red;
}
#navbar.mobile{
    transition: transform .5s ease-in-out;
}
@media screen and (max-width: 900px) {
    .mobile-navbar {
        display: inline;
        /* display: flex;
        background-image: url(img/mobile_menu_icon.jfif);
        background-size: 100%; */
    }
    #navbar {
        width: 170px;
        height: auto;
        flex-wrap: wrap;
        justify-content: flex-start;
        position: absolute;
        top: calc(100% + .5px);
        left: .5px;
        transform: translateX(-110%);
    }
    #navbar.open{
        transform: translateX(0);
    }
    .navbar_link {
        padding: 10px 0px 10px 15px;
    }
}

/* Waiting text */
.waiting_text {
    text-align: center;
    font-size: 50px;
    margin: 100px;
}

/* Footer */
.footer_text{
    text-align: right;
    color:white;
    font-size: 28px;
}
.footer_text a {
    text-decoration: none;
    color: white;
}
footer {
    background-color: black;
    text-align: right;
}

/* Homepage */
#homepage_body {
    display: flex;
}
.home_article {
    padding: 10px;
    color: rgb(0,0,0);
    text-align: justify;
    text-justify: inter-word;
}
.homepage_article_title {
    margin-top: 50px;
}
.podium {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.sidebar {
    padding: 20px;
    float: right;
    border-left: 2px solid black;
    width: 20vw;
    color: rgb(0,0,0);
}
.twitch-embed {
    margin-bottom: 2.5em;
    margin-top: 2.5em;
}
@media (min-width: 900px) {
    .mobile-tiwtch {
        display: none;
    }
}
@media (max-width: 900px) {
    .desktop-twitch {
        display: none;
    }
}
.homepage_article_title {
    margin-bottom: 30px;
    padding-bottom: 15px;
    text-decoration: underline;
    text-align: center;
}
.sidebar_title {
    padding-bottom: 50px;
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    #homepage_body {
        display: flex;
        flex-direction: column;
    }
    #homepage_body article {
        width: calc(100% - 40px);
        float: none;
    }
    .sidebar {
        border-top: 2px solid black;
        border-left: none;
    }
}
/* Rankings */

.rankings {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pool_ranking {
    font-size: 2.5rem !important;
    font-weight: inherit !important;
}

.card {
    border: 0 !important;
}

/* Schedule */
.schedule_page_title {
    margin: 40px;
    text-align: center;
    font-size: 48px;
    text-decoration: underline;
}

.schedule_day {
    margin-top: 20px;
    margin-bottom: 20px;
}

.schedule_date {
    font-size: 2.5rem !important;
    font-weight: inherit !important;
}

.card {
    border: 0 !important;
}

    /* Tableaux*/
table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin: 25px;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}

th {
    background-color: rgb(235,235,235);
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
background-color: rgb(245,245,245);
}

caption {
    padding: 10px;
}

/* Participants */

.logo_ecole {
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: center;
    max-height: 400px;
}

.logo_ecole {
    margin-top: 20px;
    margin-bottom: 20px;
}

.teams {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.team_modal {
    position: absolute !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    height: auto !important;
}
@media (min-width: 768px) {
    .team_modal {
        width: 100% !important;
        left: 0% !important;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .team_modal {
        width: 100% !important;
        left: 0% !important;
    }
}
@media (max-width: 576px) {
    .team_modal {
        width: 100% !important;
        left: inherit !important;
    }
}
.team_modal_dialogue {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border:0.125em solid #cccccc;
}
.team_modal_content {
    opacity: 85%;
    background-color: black !important;
    color: white;
    border-radius: 0 !important;
    padding:1em;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
}
.team_modal_body {
    margin-top: 1em;
}
.team_modal_header {
    padding-top: 0 !important;
}
.close {
    color: white !important;
}
.modal-backdrop {
    opacity: 0 !important;
}

/* Sponsors */
.sponsors_page_title {
    margin: 40px;
    text-align: center;
    font-size: 48px;
    text-decoration: underline;
}

.sponsors_page_desc {
    font-size: 28px;
    margin: 60px;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
}

.sponsor {
    margin: 80px;
}

.logo_sponsor {
    vertical-align: middle;
}

.desc_sponsor {
    max-width: 60vw;
    font-size: 20px;
    float: left;
    text-align: justify;
    text-justify: inter-word; 
}

.sponsor_video {
    display: block;
    margin:0 auto 35px auto
}
.shibuya {
    max-height: 75px; 
}

.qualified_title{
    text-decoration: underline;
    margin-left: 60px;
}
