{% if page.teams %}
{% assign teams=site.data.[page.teams] %}
    <div class="columns is-multiline">
        <div class="column is-12">

            {% for team in teams %}

            <div class="box has-text-centered">
                <div class="columns">
                    <p class="title">
                        {{ team.name }}
                    </p>
                    <p>
                        {{ team.player0 }}
                    </p>
                    <p>
                        {{ team.player1 }}
                    </p>
                    <p>
                        {{ team.player2 }}
                    </p>
                    <p>
                        {{ team.player3 }}
                    </p>
                    <p>
                        {{ team.player4 }}
                    </p>
                </div>
            </div>

            {% endfor %}
        </div>
        <div class="column is-12">
            <hr />
        </div>
    </div>
{% endif %}
