<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"> -->
    
    <title>LIFE | Accueil</title>
    <link rel="shortcut icon" type="image/png" href="{{ '/img/favicon.png' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" href="css/bootstrap.css">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SYXY02LPEY"></script>
    <script src="js/google.js"></script>
  </head>

  <body>
    <!-- <a id="skip-to-content" href="#content">Skip to the content.</a> -->

    <header class="page-header" role="banner">
      <img id="banner" src="img/banner.png" alt="bannière du tournoi">

      <div class="navbar-wrapper">
          <div class="mobile-navbar" onclick="navMobileMenuClicked()">
              <span></span>
              <span></span>
              <span></span>
          </div>
          <div id="navbar">
              <a class="navbar_link" href="index.html">Accueil</a>
              <a class="navbar_link" href="rankings.html">Classement</a>
              <a class="navbar_link" href="schedule.html">Planning</a>
              <a class="navbar_link" href="participants.html">Participants</a>
              <a class="navbar_link" href="sponsors.html">Sponsors</a>
          </div>
      </div>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <script>
        var navMobileMenuClicked = () => {
          document.querySelector('.mobile-navbar').classList.toggle('open')
          document.getElementById('navbar').classList.toggle('open')
        }
      </script>
      <footer class="site-footer">
        <span class="site-footer-credits">© LIFE {{ "now" | date: "%Y" }}, Tous droits réservés.</span>
      </footer>
    </main>
  </body>
</html>
